$main-color: rgba(0, 0, 0, 1);
$text-dark-color: rgba(41, 45, 50, 1);

$text-light-color: rgba(255, 255, 255, 1);
$grey-dark-color: rgba(145, 151, 179, 1);
$grey-light-color: rgba(181, 183, 192, 1);
$secondary-color: rgba(250, 251, 255, 1);
$body-color: rgba(226, 236, 249, 0.5);


$base-font-famile: 'Poppins',
sans-serif;
$base-font-size: 14px;
$base-font-weight: 500;